<!--<div class="card">
  <h5 class="card-header">Edit branch</h5>
  <div class="card-body">
    <%# render "form", branch: @branch %>
  </div>
</div>-->
<%= render "batches/remote_modal", title: "Edit Branch" do %>

  <%= render "form", branch: @branch %>

<% end %>
