<div id="<%= dom_id center_name %>">
  <div class="row">
    <div class="col-lg-6">
      <p><strong>Center :</strong><%= center_name.description %></p>
      <p><strong>Branch :</strong><%= center_name.branch.name %></p>
      <p><strong>Enrolled :</strong><%= center_name.coverages.count %></p>
    </div>
  </div>
</div>
