@import "bootstrap";

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(60deg, rgb(226, 228, 231) 0%, rgb(230, 233, 223) 0%, rgb(255, 255, 255) 100%);
}