<!--<div class="card">
    <h5 class="card-header">Add member <%# current_user.user_detail.last_name %><%# current_user.user_detail.branch_id %></h5>
    <div class="card-body">
      ....
    </div>
  </div>-->
<% if @ulist.present? == true %>
  <div class="card">
    <h5 class="card-header">Add member <%# current_user.user_detail.last_name %><%# current_user.user_detail.branch_id %></h5>
    <div class="card-body">
      <%= render "form", item: @item %>
    </div>
  </div>
<% else %>
  <%= render "remote_modal", title: "Add Member" do %>
      <%= render "form", item: @item %>
  <% end %>
<% end %>
