<%
=begin
%>
<div class="card">
  <h5 class="card-header">New member</h5>
  <div class="card-body">
    <%= render "form", member: @member %>
  </div>
</div>
<%
=end
%>

<%#= render "remote_modal", title: "New Member" do %>
<div class="card">
  <h5 class="card-header">Edit member</h5>
  <div class="card-body">
  <%= render "form", item: @item %>
</div>
</div>
<%# end %>
